.env
data/*
output/*
!data/.gitkeep
!output/.gitkeep
output/group-graphs/**
autobackup/extract_moodle_groups/groups.json
src/trash.py
src/easysync_py


lib
bin
.pytes_cache
__pycache__
*.code-workspace
bfg-git-large-file-check.sh
bfg.jar